<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a href="/">
                <img src="images/icon.png" width="auto" height="100" alt="">          

          </a>
    <a class="navbar-brand ms-n1" href="/">LifeLine</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/donors">Donor's Details</a>
              </li>

              {{#if user}}

               <li class="nav-item">
                <a class="nav-link" href="/add-donor">My Details</a>
              </li>
              {{/if}}
              

             
            </ul>
            {{!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> --}}
            {{#if user}}
              <div class="">
               <a class="btn btn-primary " href="/dashboard">{{user.name}}</a>
                <a class="btn btn-outline-primary " href="/logout">Logout</a>
              </div>
            {{else}}
              <div class="d-flex">
                <a class="btn btn-outline-primary me-2" href="/login">Login</a>
                <a class="btn btn-primary" href="/signup">Sign Up</a>
              </div>
            {{/if}}
      


          </div>
        </div>
        </nav>


    