<div class="container-fluid  mt-3">

<div class="ms-5 row">
    <div class="col-3">
      <a href="/">
          <img src="images/bg.png" class="img-fluid" alt="">
      </a>

    </div>
    <div class="col-9">

    <div class="row mt-3  ">
  <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">A+</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to A+ and AB+</li>
            <li class="list-group-item">You can receive blood from A- and O-</li>
        </ul>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">O+</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to all blood groups</li>
            <li class="list-group-item">You can receive blood from  o+</li>
        </ul>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">O-</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to all blood groups</li>
            <li class="list-group-item">You can receive blood from only o group</li>
        </ul>
        </div>
      </div>
    </div>
 
  
  </div>

    <div class="row  mt-3 ">

  <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">AB+</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to AB+</li>
            <li class="list-group-item">You can receive blood from all blood groups</li>
        </ul>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">A-</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to A+ and AB+</li>
            <li class="list-group-item">You can receive blood from A- and O-</li>
        </ul>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">B+</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to B+ and AB+</li>
            <li class="list-group-item">You can receive blood from B and O groups-</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
     <div class="row  mt-3 ">

  <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">B-</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to B+ and AB+</li>
            <li class="list-group-item">You can receive blood from B and O groups</li>
        </ul>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center display-6">AB-</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">You can give blood to AB-</li>
            <li class="list-group-item">You can receive blood from all negative blood groups-</li>
        </ul>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Contact US</div>
        <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Mail:donate@bloodbank.com</li>
            <li class="list-group-item">Phone: +91 7561835849</li>
        </ul>
        </div>
      </div>
    </div>
  </div>

    </div>
</div>




</div>


